header{
  display:inline-block;
  padding-bottom:5%;
}

nav.navbar.navbar-default.navbar-fixed-top{
  height:10%;
  background-color:rgba(255, 255, 255, .75);
}

.navbar-color:hover{
  background-color:yellow;
  transition:0.5s;
  border-radius:50%;
  border:none;
}

article{
  padding:2%;
  text-align:center;
}

nav.navbar.navbar-default.navbar-fixed-top{
  display:inline-block;
}

div.jumbotron{
  border-radius:5%;
  background-color:rgba(255, 255, 255, 0.75);
  width:55%;
  text-align:center;
  display:inline-block;
  margin:5%;
  padding:3%;
}

#second-body{
  background-image:url(../../assets/img/background.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:100%;
}

h2{
  text-align:left;
}

div.container{
  margin-top:2%;
  padding:3%;
}

img.slide-pics{
  margin:5%;
  margin-left:35%;
  width:30%;
}

.site-footer{
  text-align:center;
  padding:initial;
}

.site-footer h5{
  text-align:left;
}

.site-footer .social-icons a:hover{
  opacity:1;
  transition:0.3s;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  color:white;
  margin:1%;
  opacity:0.8;
  line-height:32px;
  text-align:center;
  background-color:#1665b4;
}

.social-icons{
  text-align:right;
}

@media (max-width:767px) {
  .site-footer h5{
    text-align:center;
  }
}

@media (max-width:767px) {
  .site-footer .social-icons{
    text-align:center;
  }
}

a.twitter-icon{
  background-color:#63f7e5 !important;
}

section#third-body{
  background-color:#b7e7f7;
}

section#first-body{
  background-image:url(https://image.freepik.com/vector-gratis/patron-continuo-de-flores_23-2147490449.jpg);
  background-color:rgba(255, 255, 255, 0.5);
  margin-bottom:3%;
  color:#ac74d9;
}

article#product-article{
  background-image:url(https://images5.alphacoders.com/645/645897.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

#description-wrapper, #testing-wrapper, #benefit-wrapper, #obligate-wrapper, #optional-wrapper{
  padding-bottom:4%;
}

